<!--prettier-ignore-->
{% extends '_layout/index.html' %}
{% block content %}
{% load static %}
{% load humanize %}
<form method="GET">
    <div class="row">
        <div id="aside" class="col-md-3">
            <div class="aside">
                <h3 class="aside-title">Автори</h3>
                <div class="checkbox-filter">
                    {% for author in all_author %}
                    <div class="input-checkbox">
                        <!--prettier-ignore-->
                        <input type="checkbox" id="author-{{ author.id }}"
                            name="authors" value="{{ author.id }}"
                            {% if author.id|stringformat:"d" in request.GET.authors %}checked{% endif %}>
                        <label
                            for="author-{{ author.id }}"
                            style="font-size: 1em"
                        >
                            <span></span>
                            {{ author.name }}
                            <small>({{ author.books.count }})</small>
                        </label>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="aside">
                <h3 class="aside-title">Ціна</h3>
                <div class="price-filter">
                    <div id="price-slider"></div>
                    <div class="input-number price-min">
                        <input
                            id="price-min"
                            name="current_min_price"
                            type="number"
                            step="0.01"
                        />
                        <span class="qty-up">+</span>
                        <span class="qty-down">-</span>
                    </div>
                    <span>-</span>
                    <div class="input-number price-max">
                        <input
                            id="price-max"
                            name="current_max_price"
                            type="number"
                            step="0.01"
                        />
                        <span class="qty-up">+</span>
                        <span class="qty-down">-</span>
                    </div>
                </div>
            </div>

            <div class="aside">
                <h3 class="aside-title">Жанри</h3>
                <div class="checkbox-filter">
                    {% for genre in all_genres %}
                    <div class="input-checkbox">
                        <!--prettier-ignore-->
                        <input type="checkbox" id="genre-{{ genre.id }}"
                            name="genres" value="{{ genre.id }}"
                            {% if genre.id|stringformat:"d" in request.GET.genres %}checked{% endif %}>
                        <label
                            for="genre-{{ genre.id }}"
                            style="font-size: 1em"
                        >
                            <span></span>
                            {{ genre.name }}
                            <small>({{ genre.books.count }})</small>
                        </label>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <button class="btn btn-danger w-100 mt-5" type="submit">
                Фільтрувати
            </button>
        </div>

        <div id="store" class="col-md-9">
            <div class="store-filter clearfix">
                <div class="store-sort">
                    <label style="font-size: 1.05em">
                        Сортування:
                        <select
                            class="form-select d-inline w-auto"
                            name="sort"
                            onchange="this.form.submit()"
                        >
                            <option value="title">По назві</option>
                            <option value="-price">По ціні&#x25be;</option>
                            <option value="price">По ціні&#x25b4;</option>
                            <option value="author__name">По автору</option>
                            <option value="genre__name">По жанру</option>
                            <option value="-pages">
                                По Кількості сторінок&#x25be;
                            </option>
                            <option value="pages">
                                По Кількості сторінок&#x25b4;
                            </option>
                        </select>
                    </label>
                    <label style="font-size: 1.05em">
                        Відображення:
                        <select
                            class="form-select d-inline w-auto"
                            name="per_page"
                            onchange="this.form.submit()"
                        >
                            <option value="9">9</option>
                            <option value="15">15</option>
                            <option value="21">21</option>
                        </select>
                    </label>
                </div>
            </div>

            <div id="catalog" class="row">
                {% for p in page_obj %}
                <div class="col-md-4 col-xs-6 my-3">
                    <div class="product">
                        <div class="product-img">
                            <a href="/catalog/book/{{p.id}}">
                                <img
                                    src="/media/{{ p.cover_image }}"
                                    alt="{{ p.title }}"
                                />
                            </a>
                        </div>
                        <div class="product-body">
                            <p class="product-category">{{ p.genre }}</p>
                            <h3 class="product-name">
                                <a href="/catalog/book/{{p.id}}">
                                    {{ p.title }}
                                </a>
                            </h3>
                            <h4 class="product-price">
                                {{ p.price|intcomma }} грн
                            </h4>
                            <div class="product-btns">
                                <button class="add-to-wishlist" type="button">
                                    <i class="fa fa-heart"></i>
                                    <span class="tooltipp">До обраних</span>
                                </button>
                                <button class="quick-view" type="button">
                                    <a href="/catalog/book/{{p.id}}">
                                        <i class="fa fa-eye"></i>
                                        <span class="tooltipp">перегляд</span>
                                    </a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="store-filter clearfix">
                <!--prettier-ignore-->
                <span class="store-qty">
                    Сторінка {{ page_obj.number }} з {{ page_obj.paginator.num_pages }}
                </span>
                <ul class="store-pagination">
                    {% if page_obj.has_previous %}
                    <li>
                        <a
                            href="?{{ query_params }}&page={{ page_obj.previous_page_number }}"
                        >
                            <i class="fa fa-angle-left"></i>
                        </a>
                    </li>
                    {% endif %}

                    <li class="active">{{ page_obj.number }}</li>

                    {% if page_obj.has_next %}
                    <li>
                        <a
                            href="?{{ query_params }}&page={{ page_obj.next_page_number }}"
                        >
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</form>
<script
    src="{% static 'js/catalog.js' %}"
    data-max_price="{{max_price}}"
    data-min_price="{{min_price}}"
    data-current_max_price="{{request.GET.current_max_price}}"
    data-current_min_price="{{request.GET.current_min_price}}"
    data-sort="{{request.GET.sort}}"
    data-per_page="{{request.GET.per_page}}"
></script>
{% endblock content %}
