{% extends '_layout/index.html' %} {% block content %}
<div class="row gx-5 mb-5 pb-5">
    <div class="col d-flex flex-column gap-4">
        <div>
            <p>
                Головний офіс компанії Books Web Shop знаходиться в Києві за
                адресою вказаною нижче. Гаряча лінія працює цілодобово, всі
                дзвінки записуються та зберегаються в нашій базі для вашої
                безпеки та покращення роботи працівників.
            </p>
            <p>
                Якщо хочете залишити фідбек до нашої компанії, можете заповнити
                форму нижче або надіслати листа на нашу електрону пошту.
            </p>
        </div>
        <ul class="footer-links">
            <li>
                <a href="#">
                    <i class="fa fa-map-marker"></i>
                    Київ, Україна
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-phone"></i>
                    +380-99-9999
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-envelope"></i>
                    books.web@gmail.com
                </a>
            </li>
        </ul>
        <table class="table table-bordered table-light table-hover text-center">
            <tr>
                <td colspan="2">Графік роботи</td>
            </tr>
            <tr>
                <td>пн - пт</td>
                <td>сб - нд</td>
            </tr>
            <tr>
                <td>07:00 - 23:00</td>
                <td>07:00 - 20:00</td>
            </tr>
        </table>
    </div>
    <div class="col">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d162758.58994131818!2d30.367543112141142!3d50.401918605400574!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cf4ee15a4505%3A0x764931d2170146fe!2z0JrQuNC10LIsINCj0LrRgNCw0LjQvdCwLCAwMjAwMA!5e0!3m2!1sru!2sie!4v1739492787811!5m2!1sru!2sie"
            width="600"
            height="450"
        ></iframe>
    </div>
</div>
{% endblock content %}
