<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список книг</title>
</head>
<body>
    <h1>Список книг</h1>
    <a href="{% url 'product_dashboard' %}">Повернутися в адмінку</a>
    <table border="1">
        <tr>
            <th>Назва</th>
            <th>Ціна</th>
            <th>Наявність</th>
            <th>Дії</th>
        </tr>
        {% for book in books %}
        <tr>
            <td>{{ book.title }}</td>
            <td>{{ book.price }}</td>
            <td>{{ book.stock }}</td>
            <td>
                <a href="{% url 'product_edit' book.id %}">Редагувати</a>
                <a href="{% url 'product_delete' book.id %}" onclick="return confirm('Ви впевнені?')">Видалити</a>
            </td>
        </tr>
        {% endfor %}
    </table>

    <a href="{% url 'product_add' %}"><button>Додати нову книгу</button></a>

</body>
</html>
